extends layout

block content
  div
    ul
      table
        thead
          tr
            //- th Image Id 1
            //- th Trainer Name
            //- th Nickname
            //- th Edit / Delete


        tbody
         each recentPage in recentPages
            tr(href='/trainers/signup')
              td
                img(src= `https://images.alexonsager.net/pokemon/fused/${recentPage.FusionPokemon.pokedexId1}/${recentPage.FusionPokemon.pokedexId1}.${recentPage.FusionPokemon.pokedexId2}.png`)
              td= recentPage.Trainer.username
              td= recentPage.FusionPokemon.nickname
              td
                a(href=`/pokepages/edit/${recentPage.id}` role='button' class= 'edit-button') Edit
                a(href=`/pokepages/delete/${recentPage.id}` role='button' class= 'delete-button') - Delete





//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)





  //- h1= title
  //- p Welcome to your Project Skeleton
