mixin createFormField(inputType,name,label,value='', placeholder=label)
    div(class='form-div')
        label(for=name)= label
        input(type=inputType name=name value=value placeholder=placeholder)

mixin validationErrorSummary(errors)
    if errors
        div
            p(class="error-alert") The following errors occurred:
            ul
                each error in errors
                    li(class="error-list")= error
