extends ../layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/pokepages-id.css')

block content

    div(class="container")
        div(class="fusion-img-container")
            img(src= imgUrl)

        div(class="type-container")
            ul(class='types-ul') Types:
                each types in fusionPokemonTypes
                    ul: img(src=`/images/${types}IC.png`)

        div(class="basemon-container content-container")
            ul(class='basemon-ul') Base Pokemon:
                each basemon in basemons
                    h2(class='basemon')=basemon

        div(class="nickname-container content-container")
            h2(class="nickname")=nickname

        if content
            div(class="description-container content-container")
                h3 Description:
                h2(class="description")=content

    if locals.trainer && locals.trainer.id === pokePage.trainerId
        div(class='button-container')
            a(href=`/pokepages/edit/${pokePage.id}` role='button' class='edit-button' id='edit-button') Edit
            a(href=`/pokepages/delete/${pokePage.id}` role='button' class='delete-button' id='delete-button') Delete
            a(href=`/pokepages/delete/${pokePage.id}` role='button' class='delete-button hide-button' id='delete-button') Confirm Delete
