extends ../layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/pokepages-id.css')

block content
    //- div
    //-     img(src= imgUrl)
    //-     h2=nickname
    //-     h2=description
    //-     h3=content

    div(class="container")
        div(class="fusion-img-container")
            img(src= imgUrl)

        div(class="type-container")
            ul(class='types-ul') Types:
                each types in fusionPokemonTypes
                    ul: img(src=`/images/${types}IC.png`)

        div(class="nickname-container")
            h2(class="nickname")=nickname
        if content
            div(class="description-container")
                h3 Description:
                h2(class="description")=content
    if locals.trainer && locals.trainer.id === pokePage.trainerId
        div(class='button-container')
            a(href=`/pokepages/edit/${pokePage.id}` role='button' class='edit-button' id='edit-button') Edit
            a(href=`/pokepages/delete/${pokePage.id}` role='button' class='delete-button' id='delete-button') Delete
